<p>MOSTRAR APUESTAS DEL JUGADOR</p>
<p id="startRound">{{ startRound }}</p>
<p id="endRound">{{ endRound }}</p>

{{#each matches}}
<p>{{this}}</p>

{{/each}}

<div class="display-scores">
    <div>
        {{#each bets}}
        <p class="user-bets">{{this}}</p>

        {{/each}}
    </div>
    <div>
        <p class="results"></p>
        <p class="results"></p>
        <p class="results"></p>
        <p class="results"></p>
        <p class="results"></p>
        <p class="results"></p>
        <p class="results"></p>
        <p class="results"></p>
        <p class="results"></p>
        <p class="results"></p>
    </div>
</div>



<button id="showResults">CHECK RESULTS</button>

<form action="/delete/{{user.id}}" method="POST" id="">
  
  <button type="submit">
    Delete
  </button>
</form>