<div class="main-container">
    <div class="row no-gutters">

        <!-- LEFT COLUMN -->
        <div class="col-lg-4">
            <div class="head-left column">
                <h2 id="round" class="round-left">{{ round }}</h2>&nbsp;&nbsp;
                <img src="images/laliga.png" alt="">
            </div>
            <div class="body-left column">
                <div class="onex2-container">
                    <div class="onex2-items">
                        <p>1</p>
                        <p>X</p>
                        <p>2</p>
                    </div>
                </div>
                <form action="/" method="POST">

                    {{#each matches}}
                    <div class="match-container">
                        <div class="match">
                            <p id="match{{@index}}"><img class="datamatch" id="datamatch{{@index}}" width="18" height="auto" src="images/data-btn.png" alt="">{{this}}</p>
                        </div>

                        <div class="radio-set">
                            <div class="radio-item">
                                <input type="radio" id="bet_{{@index}}_1" name="bet_{{@index}}" value="1">
                                <label for="bet_{{@index}}_1"></label>
                            </div>
                            <div class="radio-item">
                                <input type="radio" id="bet_{{@index}}_x" name="bet_{{@index}}" value="X" checked>
                                <label for="bet_{{@index}}_x"></label>
                            </div>
                            <div class="radio-item">
                                <input type="radio" id="bet_{{@index}}_2" name="bet_{{@index}}" value="2">
                                <label for="bet_{{@index}}_2"></label>
                            </div>
                        </div>
                      
                    </div>


                    {{/each}}
                    <div class="buttons-left">
                        <div class="secondary-button button text-center" id="clear">RESTORE</div>
                        <input class="main-button button" type="submit" value="BET">
                    </div>

                </form>
            </div>
        </div>

        {{#if user}}
         <!-- CENTER COLUMN -->
    <div class="col-lg-4 col-center">
      <div class="head-center column">
        <img src="images/data.png" alt="">
        <h2>DATA</h2>
      </div>
      <div class="body-center column">
        <div class="match-data">
          <div class="match-data-text">
            <p>MATCH <span id="match-number"></span></p>
            <p id="match-teams"></p>
          </div>
          <div class="match-data-img">
            <img width="50" height="auto" id="home-badge" src="" alt="">
            <p>vs</p>
            <img width="50" height="auto" id="away-badge" src="" alt="">
          </div>
        </div>

        <br>
        <p>
          <b>Day: </b><span id="day"></span><br>
          <b>Hour: </b><span id="time"></span><br>
          <b>Stadium: </b><span id="stadium"></span><br>
          <b>Referee: </b><span id="referee"></span><br>
        </p>
        <div class="row prob">
          <div class="col-lg-4 item-prob left-prob">1</div>
          <div class="col-lg-4 item-prob">X</div>
          <div class="col-lg-4 item-prob right-prob">2</div>
        </div>
        <div class="row prob-data">
          <div class="col-lg-4 data-prob left-prob"><span id="one"></span>%</div>
          <div class="col-lg-4 data-prob"><span id="x"></span>%</div>
          <div class="col-lg-4 data-prob right-prob"><span id="two"></span>%</div>
        </div>
         <button id="lg" class="lg-btn secondary-button button">LAST GAMES</button>
                <div id="games-info" class="games-info">
                    <div class="lg">
                        <div class="h2h">
                            <p>Last Games Between Them</p>
                        </div>

                        <div class="row last-games">
                            {{!-- <div class="col-lg-4 text-left">
            <p class="hh-date"></p>
            <p class="hh-date"></p>
           
          </div> --}}
                            <div class="col-lg-8 text-left">
                                <p class="hh-teams"></p>
                                <p class="hh-teams"></p>

                            </div>
                            <div class="col-lg-4 scores-lg text-left">
                                <p class="hh-scores"></p>
                                <p class="hh-scores"></p>

                            </div>
                        </div>
                        <div class="h2h">
                            <p>Last Games <span id="ht-lg"></span></p>
                        </div>
                        <div class="row last-games">
                            {{!-- <div class="col-lg-4 text-left">
            <p class="hh-date"></p>
            <p class="hh-date"></p>
           
          </div> --}}
                            <div class="col-lg-8 text-left">
                                <p class="htlg-teams"></p>
                                <p class="htlg-teams"></p>
                                <p class="htlg-teams"></p>
                            </div>
                            <div class="col-lg-4 scores-lg text-left">
                                <p class="htlg-scores"></p>
                                <p class="htlg-scores"></p>
                                <p class="htlg-scores"></p>
                            </div>
                        </div>
                        <div class="h2h">
                            <p>Last Games <span id="at-lg"></span></p>
                        </div>
                        <div class="row last-games">
                            {{!-- <div class="col-lg-4 text-left">
            <p class="hh-date"></p>
            <p class="hh-date"></p>
           
          </div> --}}
                            <div class="col-lg-8 text-left">
                                <p class="atlg-teams"></p>
                                <p class="atlg-teams"></p>
                                <p class="atlg-teams"></p>
                            </div>
                            <div class="col-lg-4 scores-lg text-left">
                                <p class="atlg-scores"></p>
                                <p class="atlg-scores"></p>
                                <p class="atlg-scores"></p>
                            </div>
                        </div>
                    </div>
                </div>
        

      </div>
    </div>

        <!-- RIGHT COLUMN -->
         <p id="startRound1">{{ startRound }}</p>
    <p id="endRound1">{{ endRound }}</p>
    <p id="startRound2">{{ startRound2 }}</p>
    <p id="endRound2">{{ endRound2 }}</p>
       
        <div class="col-lg-4 col-right">
            <div class="head-right column">
                <div class="last-kiniela">
                    <h2>LAST KINIELA</h2>
                </div>
                <div class="last-k-round">
                    <h2 id="last-round" class="round-left">{{ lastround }}Round 24</h2>&nbsp;&nbsp;
                    <img src="images/laliga.png" alt="">
                </div>

            </div>
            <div class="body-right column">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 text-center res-head">
                                <p>BET</p>
                            </div>
                            <div class="col-lg-4 text-center res-head">
                                <p>RES.</p>
                            </div>
                            <div class="col-lg-4 text-center res-head">
                                <p>POINTS</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

          <div class="col-lg-6">
            {{#each matches2}}
            <p class="matches2">{{this}}</p>
            {{/each}}
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4 text-center">
                {{#if bets2}}
                {{#each bets2}}
                <p class="matches2 user-bets">{{this}}</p>
                {{/each}}
                {{else}}
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                 <p class="matches2 user-bets">-</p>
                {{/if}}
              </div>
              <div class="col-lg-4 text-center">
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
                <p class="matches2 results"></p>
              </div>
              <div class="col-lg-4 text-center">
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
                <p class="matches2 points"></p>
              </div>
            </div>
          </div>
        </div>


        <div class="total">
          <p class="totals">TOTAL: <span id="total-data" class="global-data">0</span></p>
          {{!-- <p class="totals">GLOBAL: <span id="global-data" class="global-data">0</span></span></p> --}}
        </div>

        <div class="buttons-right">
          <button class="secondary-button button" id="check">RANKING</button>
         
        </div>

            </div>
        </div>

        {{else}}
        <!-- PARA PINTAR EL INDEX -->
        <div class="col-lg-8">

            <div class="logo-kiniela">
                <img src="images/kiniela-logo-big.png" alt="" class="kiniela-logo-big">
                <p> Nobody knows more than football than you!</p>
                <div class="login-button">
                    <button class="btn-login">LOG IN</button>
                </div>
                <div class="sign-up-button">
                    <button class="btn-signup">SIGN UP</button>
                </div>
            </div>


        </div>

        {{/if}}
    </div>
</div>