<div class="main-container">
    <div class="row no-gutters">

        <!-- LEFT COLUMN -->
        <div class="col-lg-4">
            <div class="head-left column">
                <h2 id="round" class="round-left">{{ round }}</h2>&nbsp;&nbsp;
                <img src="images/laliga.png" alt="">
            </div>
            <div class="body-left column">
                <div class="onex2-container">
                    <div class="onex2-items">
                        <p>1</p>
                        <p>X</p>
                        <p>2</p>
                    </div>
                </div>
                <form action="/" method="POST">
                    {{#each matches}}
                    <div class="match-container">
                        <div class="match">
                            <p><img width="18" height="auto" src="images/data-btn.png" alt="">{{this}}</p>
                        </div>

                        <div class="radio-set">
                            <div class="radio-item">
                                <input type="radio" id="bet_{{@index}}_1" name="bet_{{@index}}" value="1">
                                <label for="bet_{{@index}}_1"></label>
                            </div>
                            <div class="radio-item">
                                <input type="radio" id="bet_{{@index}}_x" name="bet_{{@index}}" value="X" checked>
                                <label for="bet_{{@index}}_x"></label>
                            </div>
                            <div class="radio-item">
                                <input type="radio" id="bet_{{@index}}_2" name="bet_{{@index}}" value="2">
                                <label for="bet_{{@index}}_2"></label>
                            </div>
                        </div>
                        {{!-- <label id="match{{@index}}" class="match">{{this}}</label>
                    <input class="radio" type="radio" id="bet_{{@index}}_1" name="bet_{{@index}}" value="1">
                    <input class="radio" type="radio" id="bet_{{@index}}_x" name="bet_{{@index}}" value="X">
                    <input class="radio" type="radio" id="bet_{{@index}}_2" name="bet_{{@index}}" value="2"> --}}
                    </div>


                    {{/each}}
                    <div class="buttons-left">
                        <button class="secondary-button button" id="clear">CLEAR</button>
                        <input class="main-button button" type="submit" value="BET">
                    </div>

                </form>
            </div>
        </div>

        {{#if user}}
        <!-- CENTER COLUMN -->
        <div class="col-lg-4 col-center">
            <div class="head-center column">
                <img src="images/data.png" alt="">
                <h2>DATA</h2>
            </div>
            <div class="body-center column">
                <div class="match-data">
                    <div class="match-data-text">
                        <p>MATCH 1</p>
                        <p>Real Sociedad - Valladolid</p>
                    </div>
                    <div class="match-data-img">
                        <img src="" alt="">
                        <p>vs</p>
                        <img src="" alt="">
                    </div>
                </div>

                <br>
                <p>
                    <b>Día:</b> 12-02-2020<br>
                    <b>Hora:</b> 21:00<br>
                    <b>Stadium:</b> Anoeta<br>
                    <b>Referee:</b> Undiano Mallenco<br>
                </p>
                <div class="row prob">
                    <div class="col-lg-4 item-prob left-prob">1</div>
                    <div class="col-lg-4 item-prob">X</div>
                    <div class="col-lg-4 item-prob right-prob">2</div>
                </div>
                <div class="row prob-data">
                    <div class="col-lg-4 data-prob left-prob">60%</div>
                    <div class="col-lg-4 data-prob">30%</div>
                    <div class="col-lg-4 data-prob right-prob">10%</div>
                </div>
                <div class="h2h">
                    <p>LAST GAMES BETWEEN THEM</p>
                </div>
                <div class="row last-games">
                    <div class="col-lg-9 text-left">
                        <p>Valladolid - Real Sociedad</p>
                        <p>Real Sociedad - Valladolid</p>
                        <p>Valladolid - Real Sociedad</p>
                        <p>Real Sociedad - Valladolid</p>
                        <p>Valladolid - Real Sociedad</p>
                    </div>
                    <div class="col-lg-3 scores-lg text-left">
                        <p>3 - 2</p>
                        <p>1 - 1</p>
                        <p>2 - 1</p>
                        <p>0 - 2</p>
                        <p>0 - 0</p>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- RIGHT COLUMN -->
        <p id="startRound">{{ startRound2 }}</p>
        <p id="endRound">{{ endRound2 }}</p>
        <div class="col-lg-4 col-right">
            <div class="head-right column">
               <div class="last-kiniela">
                   <h2>LAST KINIELA</h2>
               </div> 
               <div class="last-k-round">
                   <h2 id="last-round" class="round-left">{{ lastround }}Round 24</h2>&nbsp;&nbsp;
                <img src="images/laliga.png" alt="">
               </div>

            </div>
            <div class="body-right column">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 text-center res-head">
                                <p>BET</p>
                            </div>
                            <div class="col-lg-4 text-center res-head">
                                <p>RES.</p>
                            </div>
                            <div class="col-lg-4 text-center res-head">
                                <p>POINTS</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        {{#each matches2}}
                            <p class="matches2">{{this}}</p>
                        {{/each}}
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4">
                                {{#each bets2}}
                                    <p class="matches2">{{this}}</p>
                                {{/each}}
                            </div>
                            <div class="col-lg-4">
                                
                            </div>
                            <div class="col-lg-4">
                                
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        {{else}}
        <div class="col-lg-8">

            <p>SE VE SIEMPRE</p>
        </div>


        {{/if}}
    </div>
</div>